@import "tailwindcss";

.toggle svg {color: #f0ebeb}
.toggle {
    display: grid;
    place-items: center;
    cursor: pointer;
    line-height: 1;
}
.input {display: none;}
.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}
.icon--moon {transition-delay: 200ms;}
.icon--sun {transform: scale(0);}
#switch:checked+.icon--moon {transform: rotate(360deg) scale(0);}
#switch:checked~.icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}
.shadoww{
    box-shadow: rgba(255, 255, 255, 0.195) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}